.login-history {
  table {
    box-shadow: 0 8px 16px rgba(169, 194, 209, 0.1),
      0 32px 32px rgba(169, 194, 209, 0.15);
    border-radius: 10px;
    width: 100%;
    border-collapse: collapse;

    thead {
      background-color: var(--whiteBackgroundColor);
    }

    td,
    th {
      padding: 1.5rem 2rem;
      text-align: left;
    }

    td {
      svg {
        vertical-align: middle;
        margin-right: 1rem;
      }
    }

    tr:not(:last-child) {
      border-bottom: 1px solid var(--darkBorderColor);
    }
  }

  &__pagination {
    display: flex;
    justify-content: flex-end;
  }
}

[data-theme='dark'] {
  .login-history {
    table {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 32px 32px rgba(0, 0, 0, 0.15);
    }
  }
}
