.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(69, 87, 110, 0.12);
  overflow: auto;
  display: none;

  &--open {
    display: block;
  }

  &__content {
    background-color: var(--whiteBackgroundColor);
    padding: 3rem;
    margin: 10rem auto;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(169, 194, 209, 0.1),
      0 32px 32px rgba(169, 194, 209, 0.15);
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    button {
      border: none;
      width: 3.5rem;
      height: 3.5rem;
      background-color: var(--darkBorderColor);
      border-radius: 50%;

      svg {
        path {
          fill: var(--textDarkColor);
        }
      }
    }
  }
}

[data-theme='dark'] .modal {
  background-color: rgba(21, 35, 45, 0.4);

  .modal__content {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.05);
  }
}
