@import './sass/normalize';
@import './sass/custom-properties';
@import './sass/accessibility';
@import './sass/pagination';

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: var(--bodyBackgroundColor);
  color: var(--textDarkColor);
}
