.password-change {
  background-color: var(--whiteBackgroundColor);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(169, 194, 209, 0.1),
    0 32px 32px rgba(169, 194, 209, 0.15);
  width: 35%;
  padding: 3rem;
}

[data-theme='dark'] {
  .password-change {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 32px 32px rgba(0, 0, 0, 0.15);
  }
}
