.navbar {
	display: flex;
	justify-content: space-between;
	background-color: var(--whiteBackgroundColor);
	border-bottom: 1px solid var(--darkBorderColor);
	padding: 0 2rem;
	height: 6rem;

	h1 {
		line-height: 6rem;
	}

	&__nav {
		display: flex;

		a {
			color: inherit;
			border-bottom: 2px solid transparent;
			display: inline-block;
			height: 100%;
			display: flex;
			align-items: center;
			margin-left: 2rem;

			&.active {
				border-color: #0081ff;
			}

			.icon {
				margin-right: 1rem;

				svg {
					path {
						fill: var(--textDarkColor);
					}
				}
			}
		}
	}
}
