.layout {
  display: flex;
  justify-content: center;
}

.login-container {
  padding: 3rem 4rem;
  width: 55rem;
  margin-top: 25rem;
  border-radius: 10px;
  background-color: var(--whiteBackgroundColor);
  box-shadow: 0 8px 16px rgba(169, 194, 209, 0.1),
    0 32px 32px rgba(169, 194, 209, 0.15);
  position: relative;

  &__banner {
    text-align: center;
  }

  .avatar {
    position: absolute;
    top: -10rem;
    left: 50%;

    img {
      padding: 0.5rem;
      transform: translateX(-50%);
      box-shadow: 0 8px 16px rgba(169, 194, 209, 0.25);
      border-radius: 30px;
      background-color: var(--whiteBackgroundColor);
      width: 17rem;
      height: 17rem;
      object-fit: cover;
      object-position: top;
    }
  }
}
