#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 1050;

  a,
  a:visited,
  a:link {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    line-height: 2;
    display: block;
    padding: 0;
    text-align: center;
    text-decoration: none;
  }
}
