:root {
  --bodyBackgroundColor: #f8fafb;
  --whiteBackgroundColor: #ffffff;
  --darkBorderColor: #eaedf0;
  --textDarkColor: #44566c;
  --textDangerColor: #ff3d57;
  --grayTextColor: #8697a8;
}

[data-theme='dark'] {
  --bodyBackgroundColor: #15232e;
  --whiteBackgroundColor: #1f2935;
  --darkBorderColor: #333e4c;
  --textDarkColor: #ffffff;
  --textDangerColor: #ff3d57;
  --grayTextColor: #8697a8;
}
