.form {
  margin-top: 3.5rem;

  .form-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
  }

  .form-footer {
    margin-top: 1rem;

    button {
      width: 100%;
      padding: 1rem 2rem;
      background-color: #0081ff;
      box-shadow: 0 -15px 40px rgba(0, 129, 255, 0.2),
        0 -5px 15px rgba(0, 129, 255, 0.15);
      border-radius: 5px;
      border: 1px solid transparent;
      font-weight: 500;
      color: #fff;

      &:disabled {
        background-color: var(--darkBorderColor);
        color: var(--darkTextColor);
        box-shadow: none;
        cursor: not-allowed;
      }
    }
  }

  .input-group {
    position: relative;

    .input-group-addon {
      position: absolute;
      left: 1.5rem;
      top: 1.5rem;

      &.addon--right {
        right: 1.5rem;
        top: 1.5rem;
        left: auto;
      }

      svg {
        path {
          fill: var(--textDarkColor);
        }
      }
    }
  }

  .form-group {
    margin-bottom: 2rem;
    height: auto;
    opacity: 1;
    visibility: visible;

    &--hidden {
      height: 0px;
      opacity: 0;
      visibility: hidden;
      margin-bottom: 0;
    }

    input {
      width: 100%;
      padding: 1.5rem 2rem 1.5rem 4rem;
      background-color: var(--bodyBackgroundColor);
      border-radius: 5px;
      font-size: inherit;
      border: 1px solid rgb(223, 225, 230);
      color: var(--textDarkColor);

      &.has-error {
        border-color: var(--textDangerColor);
      }

      &:read-only {
        border-color: transparent;
        background-color: #fff;

        &:hover {
          border-color: rgb(223, 225, 230);
          background-color: var(--bodyBackgroundColor);
        }
      }
    }

    small {
      color: var(--textDangerColor);
    }
  }
}
