.pagination {
  list-style: none;
  padding: 0.6rem;
  margin: 2rem 0;
  background-color: var(--whiteBackgroundColor);
  display: inline-block;
  box-shadow: 0px 8px 16px rgba(169, 194, 209, 0.1),
    0px 4px 4px rgba(169, 194, 209, 0.05);
  border-radius: 7px;

  li {
    display: inline-block;
  }

  a {
    color: var(--darkTextColor);
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 5px;
  }

  li.previous a,
  li.next a {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  li.active a {
    background-color: #0081ff;
    color: #ffffff;
  }

  li.disabled a {
    color: var(--grayTextColor);
  }
}

[data-theme='dark'] {
  .pagination {
    box-shadow: none;
  }
}
