.layout {
  display: flex;
  justify-content: center;
}

.fp-container {
  padding: 4rem 3rem;
  width: 55rem;
  margin-top: 25rem;
  border-radius: 10px;
  background-color: var(--whiteBackgroundColor);
  box-shadow: 0 8px 16px rgba(169, 194, 209, 0.1),
    0 32px 32px rgba(169, 194, 209, 0.15);
  position: relative;

  &__banner {
    text-align: center;
  }
}
