.profile {
  background-color: var(--whiteBackgroundColor);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(169, 194, 209, 0.1),
    0 32px 32px rgba(169, 194, 209, 0.15);
  width: 25%;
  margin-right: 3rem;

  &__general-info {
    padding: 3rem 3rem 1rem 3rem;

    img {
      display: block;
      margin: 0 auto;
      width: 19rem;
      height: 25rem;
      border-radius: 40px;
      box-shadow: 0px 8px 16px rgba(169, 194, 209, 0.1),
        0px 16px 32px rgba(169, 194, 209, 0.15);
    }

    .headline {
      margin-top: 1.5rem;
      text-align: center;
      p {
        color: var(--grayTextColor);
      }
    }
  }

  &__account-info {
    border-top: 1px solid var(--darkBorderColor);
    background-color: var(--bodyBackgroundColor);
    padding: 3rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
        margin-bottom: 1rem;

        span {
          margin-left: 1rem;
        }
      }
    }
  }
}

[data-theme='dark'] {
  .profile {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 32px 32px rgba(0, 0, 0, 0.15);

    &__general-info {
      img {
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25),
          0px 16px 32px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
