.apps {
  background-color: var(--whiteBackgroundColor);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(169, 194, 209, 0.1),
    0 32px 32px rgba(169, 194, 209, 0.15);
  width: 40%;
  margin-right: 3rem;
  padding: 3rem;

  &__list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    li {
      text-align: center;
      padding: 2rem;
      border-radius: 3px;
      margin-bottom: 1rem;
    }
  }
}

[data-theme='dark'] {
  .apps {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 32px 32px rgba(0, 0, 0, 0.15);
  }
}
