@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:900&display=swap');

.not-found {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &__bg {
    background-color: #f8fafb;

    &::after {
      content: '';
      width: 100%;
      height: 100vh;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('../../assets/not-found-bg.svg');
      background-position: center;
      background-size: cover;
    }
  }

  &__error-code {
    h1 {
      font-size: 25rem;
      font-family: 'M PLUS Rounded 1c', sans-serif;
      text-shadow: 0 8px 16px rgba(0, 129, 255, 0.2);
      color: #0081ff;
    }
  }

  &__error-message {
    h2 {
      font-size: 4rem;
    }
  }

  &__error-description {
    position: relative;

    p {
      font-size: 2rem;
    }

    button {
      margin-top: 2rem;
    }
  }
}
