.header {
  background-color: var(--whiteBackgroundColor);
  border-bottom: 1px solid var(--darkBorderColor);
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;

  &__dark-mode {
    margin-right: 2rem;
    margin-left: auto;
  }

  // &__notifications {
  // 	margin-right: 1rem;

  // 	button {
  // 		background-color: transparent;
  // 		border: none;
  // 		padding: 1rem;
  // 		position: relative;

  // 		svg {
  // 			color: var(--textDarkColor);
  // 			font-size: 2.1rem;
  // 		}

  // 		&::after {
  // 			content: '';
  // 			position: absolute;
  // 			top: 8px;
  // 			right: 8px;
  // 			width: 6px;
  // 			height: 6px;
  // 			border-radius: 50%;
  // 			background-color: #ff3d57;
  // 		}
  // 	}
  // }

  &__user {
    .dropdown {
      position: relative;

      &__content {
        position: absolute;
        top: 6.5rem;
        background-color: var(--whiteBackgroundColor);
        border: 1px solid var(--darkBorderColor);
        border-radius: 5px;
        padding: 1rem 0;
        width: 100%;
        display: none;

        &::after,
        &::before {
          bottom: 100%;
          left: 50%;
          border: solid transparent;
          content: ' ';
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }

        &::after {
          border-color: rgba(255, 255, 255, 0);
          border-bottom-color: var(--whiteBackgroundColor);
          border-width: 10px;
          margin-left: -10px;
        }

        &::before {
          border-color: rgba(234, 237, 240, 0);
          border-bottom-color: var(--darkBorderColor);
          border-width: 11.5px;
          margin-left: -11.5px;
        }

        ul {
          margin: 0;
          padding: 0;
          width: 100%;
        }

        li {
          width: 100%;
          list-style-type: none;
          padding: 0;

          a {
            padding: 1rem 1.5rem;
            display: block;
            height: 100%;
            text-decoration: none;
            color: inherit;

            svg {
              margin-right: 1rem;
            }

            &:hover {
              background-color: var(--bodyBackgroundColor);
            }
          }
        }

        &--open {
          display: block;
        }
      }
    }

    button {
      background-color: transparent;
      color: inherit;
      border: none;
      padding: 0.5rem;
      display: flex;
      align-items: center;

      .icon {
        margin-left: 0.5rem;
      }
    }
  }
}
