.page {
  padding: 2rem;
  transition: all 0.2s;

  &--full {
    width: 100%;
    margin-left: 0;
    transition: all 0.2s;
  }

  &__heading,
  &__breadcrump,
  &__content {
    margin: 2.5rem 0;
  }

  &__breadcrump {
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
        display: inline-block;
        margin-right: 10px;

        a {
          text-decoration: none;
          color: #8697a8;
        }

        &:not(:last-child)::after {
          content: '\203A';
          margin-left: 10px;
        }
      }
    }
  }
}
