.checkbox {
  display: inline-block;
  vertical-align: middle;

  input[type='checkbox'] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

  span {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: var(--bodyBackgroundColor);
    border-radius: 4px;
    border: 2px solid var(--darkBorderColor);

    svg {
      fill: none;
      stroke: #fff;
      stroke-width: 3px;
      visibility: hidden;
    }
  }

  input[type='checkbox']:checked + span {
    svg {
      visibility: visible;
    }
  }

  input[type='checkbox']:checked + span {
    border-color: #0081ff;
    background-color: #0081ff;
  }
}
