.toggle-switch {
  display: inline-block;
  vertical-align: middle;

  input[type='checkbox'] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

  input[type='checkbox']:checked + span {
    background-color: #0081ff;
  }

  &__switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background-color: #eff4f8;
    border: none;
    transition: all 0.2s;

    &::after {
      content: '';
      position: absolute;
      background-color: #fff;
      top: 2px;
      left: 4px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      box-shadow: 0 2px 2px rgba(68, 86, 108, 0.2);
      transition: transform 0.2s;
    }
  }

  input[type='checkbox']:checked + span::after {
    transform: translateX(115%);
  }
}

[data-theme='dark'] .toggle-switch {
  span {
    background-color: #333e4c;
  }
}
